:root {
  --main-color: #212121;
  --accent-color: #ce001a;
  --text-color: #222;
  --text-color-reversal: #fff;
  --base-font: "-apple-system", BlinkMacSystemFont, "Helvetica Neue", Arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Yu Gothic Medium", YuGothic,
    Meiryo, sans-serif;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.08em;
  font-family: var(--base-font);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

p {
  margin: 0.5em 0 1em;
  line-height: 1.8;
  letter-spacing: 0.08em;
  &:last-child {
    margin-bottom: 0;
  }
  &:first-child {
    margin-top: 0;
  }
}

a {
  text-decoration: none;
  color: var(--main-color);
  @media screen and (min-width: 768px) {
    &:hover {
      text-decoration: underline;
      color: var(--main-color);
    }
  }
}

h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 1.5em;
  @media screen and (max-width: 767px) {
    font-size: 22px;
  }
}

h2 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 1em;
  @media screen and (max-width: 767px) {
    font-size: 20px;
  }
}

.row {
  &:not(:last-child) {
    margin-bottom: 4%;
  }
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    letter-spacing: -0.4em;
    .col {
      letter-spacing: normal;
      vertical-align: top;
      display: inline-block;
      float: none;
      margin-bottom: 4%;
      padding: 0 0.5%;
      &.span_1 {
        width: 6.5%;
        &:nth-child(12n + 1) {
          margin-left: 0;
        }
      }
      &.span_2 {
        width: 15%;
        &:nth-child(6n + 1) {
          margin-left: 0;
        }
      }
      &.span_3 {
        width: 23.5%;
        &:nth-child(4n + 1) {
          margin-left: 0;
        }
      }
      &.span_4 {
        width: 32%;
        &:nth-child(3n + 1) {
          margin-left: 0;
        }
      }
      &.span_5 {
        width: 40.5%;
        &:nth-child(2n + 1) {
          margin-left: 0;
        }
      }
      &.span_6 {
        width: 49%;
        &:nth-child(2n + 1) {
          margin-left: 0;
        }
      }
      &.span_7 {
        width: 57.5%;
      }
      &.span_8 {
        width: 66%;
      }
      &.span_9 {
        width: 74.5%;
      }
      &.span_10 {
        width: 83%;
      }
      &.span_11 {
        width: 91.5%;
      }
      &.span_12 {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 767px) {
    &.sp-col-2 {
      display: flex;
      flex-wrap: wrap;
      > .col {
        width: 48%;
        padding: 0 1%;
        margin-bottom: 4%;
        &:nth-last-child(1),
        &:nth-last-child(2) {
          margin-bottom: 0;
        }
      }
    }
  }
}

section {
  &:not(:last-child) {
    margin-bottom: 7%;
    @media screen and (max-width: 767px) {
      margin-bottom: 10%;
    }
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  @media screen and (max-width: 1220px) {
    padding: 0 10px;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0;
  tr {
    th,
    td {
      border: 1px solid #999;
      border-left: none;
      border-right: none;
      padding: 1em;
      @media screen and (max-width: 767px) {
        padding: 0.4em;
      }
    }
    th {
      background: #efefef;
      color: #000;
      text-align: left;
      width: 30%;
      @media screen and (max-width: 767px) {
        width: 35%;
      }
    }
  }
}

.more {
  position: relative;
  display: table;
  margin: 0 0 0 auto;
  padding-right: 30px;
  &:after {
    content: "";
    width: 23px;
    height: 4px;
    border-bottom: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transform: skew(45deg);
  }
}
