.input {
  width: 80%;
  padding: 0.6em;
  border: 1px solid #999;
}

.submit {
  display: block;
  margin: 4% auto 0;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  background: transparent;
  cursor: pointer;
  padding: 0.2em 1.5em;
  font-size: 16px;
  transition: 0.2s;
  &:hover {
    background: var(--accent-color);
    color: var(--text-color-reversal);
  }
}

.registerLink {
  text-align: center;
  margin-top: 4%;
}
